aiohttp
aiosignal
annotated-types
attrs
certifi
charset-normalizer
contourpy
cycler
datasets
devinterp
dill
einops
filelock
fonttools
frozenlist
fsspec
huggingface-hub
idna
iniconfig
ipywidgets
jinja2
jupyterlab-widgets
kiwisolver
markupsafe
matplotlib
mpmath
multidict
multiprocess
networkx
numpy
pandas
pillow
pluggy
pyarrow
pyarrow-hotfix
pydantic
pydantic-core
pyparsing
pytest
python-dotenv
pytz
pyyaml
requests
scipy
sympy
torch
torchaudio
torchtyping
torchvision
tqdm
typeguard
tzdata
urllib3
widgetsnbextension
xxhash
yarl